*,
*::before,
*::after {
  box-sizing: border-box;
}

  @font-face {
    font-family: "Neue Montreal Medium";
    src: url("../../fonts/PPNeueMontreal-Medium.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Neue Montreal Regular";
    src: url("../../fonts/PPNeueMontreal-Book.otf");
    font-weight: normal;
    font-style: normal;
  }

html {
  scroll-behavior: smooth;
}

:root {
  --text-white: #ffffff;
  --main-bg:
  --accent-bg:
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--main-bg);
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
