#tui-pagination-container {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 40px;
}

.tui-page-btn {
  border-radius: 60%;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 60%;
  cursor: pointer;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  border-color: transparent;
  background-color: transparent;
  color: var(--pagination-color);
  font-family: 'Neue Montreal Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tui-pagination {
  margin: 0 auto;
  display: flex;
  /* gap: 8px; */
  /* align-items: center; */
}

.tui-pagination .tui-page-btn {
  width: 40px;
  height: 40px;
  border-radius: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  background-color: var(--card-bg-color);
}
.tui-pagination .tui-is-selected {
  background-color: var(--secondary-bg-green-color);
  color: var(--title-white-text-color);
}
.tui-pagination .tui-first,
.tui-pagination .tui-last {
  display: none;
}

.tui-pagination .tui-next-is-ellip {
  display: none;
}
.pagination-item-arrow {
  /* background-image: url('href="../images/#icon-caret-small-left"'); */
  padding: 8px;
  align-items: center;
  background-color: var(--card-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-arrow {
  fill: transparent;
  stroke: var(--pagination-color);
}

.pagination-number {
  width: 40px;
  height: 40px;
  border-radius: 60%;
}
.pagination-item-arrow:hover,
.pagination-item-arrow:focus,
.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--secondary-bg-green-color);
  color: var(--title-white-text-color);

  border-radius: 60%;
}

.icon-heart {
  background-image: url('https://example.com/heart.png');
}
@media only screen and (min-width: 768px) {
  #tui-pagination-container {
    gap: 8px;
    margin: 25px 116px 100px;
  }
}
/* } */

@media only screen and (min-width: 1440px) {
  #tui-pagination-container {
    margin: 20px 236px 61px;
  }
}