.product-card-general {
  border-radius: 20px;
  background-color: var(--card-bg-color);
}

.product-list {
    padding-top: 22px;
  }

  
  .products-list-general {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 80px;
  }
  .product-card-general {
    /* outline: 2px solid green; */
    row-gap: 20px;
  }
  .img-wrapper {
    padding: 20px;
  }
  .card-img {
    padding: 19px 78px;
    border-radius: 10px;
    background-color: #e8e8e2;
  }
  .general-span-info {
    color: rgba(1, 1, 1, 0.3);
    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
  }
  .general-card-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
    line-height: 1.4;
    padding-left: 20px;
    margin-bottom: 3px;
  }
  .general-span-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 37px;
    /* padding-left: 20px; */
    justify-content: center;
  }
  .span-info-value {
    color: #010101;

    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
  }

  .general-card-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 20px 16px;
  }
  .general-span-price {
    display: block;
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
    padding-left: 4px;
    line-height: 1.11;
  }

  .addToCart-btn {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #6d8434;
    border: none;
  }

  .cart-svg {
    fill: #fff;
  }

  /**
    |============================
    | products-list-popular
    |============================
  */
  .products-list-popular {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-bottom: 81px;
  }
  .popular-product-card {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 12px;
    background-color: var(--card-bg-color);
  }

  .popular-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 24px;
    /* font-weight: 500; */
    line-height: 1.16;
    margin-bottom: 20px;
  }

  .poppular-img-wrapper {
    width: 74px;
    height: 74px;
    padding: 9px;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
  }
  .popular-card-img {
    padding: 9px;
    width: 56px;
  }
  .popular-card-info {
    width: 152px;
  }
  .popular-card-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
    /* font-weight: 500; */
    line-height: 1.11;

    margin-bottom: 12px;
  }

  .popular-span-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9px;
  }
  .popular-span-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px;
    color: rgba(1, 1, 1, 0.3);
    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
  }

  .popular-addToCart-btn {
    width: 20px;
    height: 20px;
    margin-left: auto;
    padding: 4px;
    border: none;
    border-radius: 50%;
  }

  .popular-cart-svg {
    fill: #6d8434;
  }

  /**
    |============================
    | products-list-discount
    |============================
  */
  .products-list-discount {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .discount-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 24px;
    /* font-weight: 500; */
    line-height: 1.16;

    margin-bottom: 20px;
  }
  .discount-product-card {
    border-radius: 15px;
    padding: 16px;
  }
  .discount-img-wrapper {
    padding: 18px 95px;
  }
  .discount-card-img {
  }
  .discount-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discount-card-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
    /* font-weight: 500; */
    line-height: 1.11;
  }

  .discount-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
  }

  .span-price {
color: #010101;
font-family: 'Neue Montreal Medium';
font-size: 18px;
/* font-weight: 500; */
line-height: 1.11;
  }

  @media only screen and (min-width: 376px) and (max-width: 768px) {
    .general-span-container {
      /* display: flex; */
      /* gap: 8px; */
      /* flex-wrap: wrap; */
      /* padding-bottom: 37px; */
      padding-left: 20px;
      justify-content: start;
    }

  }
  


@media only screen and (min-width: 768px) and (max-width: 1440px) {
    

  .products-list-general {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 20px;
  }

  .products-list-general {
    padding-bottom: 64px;
  }

  .product-card-general{
    width: calc((100% - 64px) / 2); 
    border-radius: 20px;
  }

  .img-wrapper {
    padding: 20px;
  }

  .card-img {
    padding: 19px 78px;
    border-radius: 10px;
    background-color: #e8e8e2;
  }

  .general-span-info {
    color: rgba(1, 1, 1, 0.3);
    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
  }

  .span-info-value {
    color: #010101;

    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
  }

  .general-card-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 20px;

    /* font-weight: 500; */
    line-height: 1.11;

    padding-left: 20px;
    margin-bottom: 10px;
  }
  .general-span-container {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .general-card-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 20px 20px;
  }
  .general-span-price {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 20px;
    /* font-weight: 500; */
    line-height: 1.2;
  }
  .addToCart-btn {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #6d8434;
    border: none;
  }
  .cart-svg {
    fill: #fff;
  }

/* *
    |============================
    | products-list-popular
    |============================
  */

.products-list-popular {
    display: flex;
    column-gap: 16px;
    padding-bottom: 64px;
  }
  .popular-product-card {
    display: flex;
    border-radius: 10px;
    padding: 12px;
    width: calc((100% - 16) / 2);
  }

  .popular-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 28px;
    /* font-weight: 500; */
    line-height: 1.14;
    margin-bottom: 20px;
  }

  .poppular-img-wrapper {
    padding: 9px;
    border-radius: 10px;
  }
  .popular-card-img {
    padding: 9px;
    width: 56px;
  }
  .popular-card-info {
    width: 152px;
  }
  .popular-card-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;

    margin-bottom: 12px;
  }

  .popular-span-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .popular-span-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    color: rgba(1, 1, 1, 0.3);

    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
  }

  .span-info-value {
    color: #010101;

    font-family: 'Neue Montreal Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .popular-addToCart-btn {
    width: 20px;
    height: 20px;
    margin-left: auto;
    padding: 4px;
    border: none;
  }

  .popular-cart-svg {
    fill: #6d8434;
  }

  /**
    |============================
    | products-list-discount
    |============================
  */

  .products-list-discount {
    display: flex;
    column-gap: 32px;
    /* width: calc(100% - 16px); */
    /* flex-direction: column; */
    /* row-gap: 32px; */
    
  }

  .discount-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 28px;
    /* font-weight: 500; */
    line-height: 1.14;

    margin-bottom: 20px;
  }
  .discount-product-card {
    border-radius: 15px;
    padding: 16px 16px 21px 16px;
 }
  .discount-img-wrapper {
    padding: 18px 95px;
  }
  .discount-card-img {
  }
  .discount-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discount-card-title {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
    /* font-weight: 500; */
    line-height: 1.11;
  }

  .discount-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
  }

  .span-price {
color: #010101;
font-family: 'Neue Montreal Medium';
font-size: 18px;
 font-weight: 500;
line-height: 1.11;
  }


}

@media only screen and (min-width: 1440px) {
    .product-list {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .product-list-container {
        display: flex;
        column-gap: 20px;
    }
    .products-list-general {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 20px;
        padding-top: 20px;
        padding-bottom: 64px;
      }
    
      
    
      .product-card-general{
        width: calc((100% - 60px) / 3);
        border-radius: 20px;
      }
    
      .img-wrapper {
        padding: 20px;
        background-color: #E8E8E2;
      }
    
      .card-img {
        padding: 19px 57px;
        border-radius: 10px;
        background-color: #e8e8e2;
      }
    
      .general-span-info {
        color: rgba(1, 1, 1, 0.3);
        font-family: 'Neue Montreal Regular';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;


        display: inline-block;
        margin-right: 8px;
      }
    
      .span-info-value {
        color: #010101;
    
        font-family: 'Neue Montreal Regular';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.6;
      }
    
      .general-card-title {
        color: #010101;
        font-family: 'Neue Montreal Medium';
        font-size: 20px;
    
        /* font-weight: 500; */
        line-height: 1.12;
    
        padding-left: 20px;
        margin-bottom: 10px;
      }
      .general-span-container {
        /* display: flex; */
        display: block;
        gap: 8px;
        margin-bottom: 40px;
        padding-left: 20px;
      }
      .general-card-price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px 20px 20px;
      }
      .general-span-price {
        color: #010101;
        font-family: 'Neue Montreal Medium';
        font-size: 20px;
        /* font-weight: 500; */
        line-height: 1.2;
      }
      .addToCart-btn {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #6d8434;
        border: none;
      }
      .addToCart-btn:hover,
      .addToCart-btn:focus {
        background-color: #586F1F;
      }
      .cart-svg {
        fill: #fff;
      }

    
    /* *
        |============================
        | products-list-popular
        |============================
      */

      .container-popular-discount {
        display: flex;
        flex-direction: column;
      }
    
    .products-list-popular {
        display: flex;
        row-gap: 13px;
        padding-bottom: 40px;
        flex-wrap: wrap;
      }
      .popular-product-card {
        display: flex;
        border-radius: 10px;
        padding: 12px;
        width: calc((100% - 16) / 2);
      }
    
      .popular-title {
        color: #010101;
        font-family: 'Neue Montreal Medium';
        font-size: 28px;
        /* font-weight: 500; */
        line-height: 1.14;
        margin-bottom: 20px;
      }
    
      .poppular-img-wrapper {
        padding: 9px;
        border-radius: 10px;
      }
      .popular-card-img {
        padding: 9px;
        width: 56px;
      }
      .popular-card-info {
        width: 152px;
      }
      .popular-card-title {
        color: #010101;
        font-family: 'Neue Montreal Medium';
        font-size: 18px;
        /* font-weight: 500; */
        line-height: 1.11;
    
        margin-bottom: 12px;
      }
    
      .popular-span-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
      }
      .popular-span-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 9px;
        color: rgba(1, 1, 1, 0.3);
    
        font-family: 'Neue Montreal Regular';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
      }
    
      .span-info-value {
        color: #010101;
    
        font-family: 'Neue Montreal Regular';
        font-size: 12px;
        font-weight: 400;
        line-height: 1.6;
      }
      
      .popular-addToCart-btn {
        width: 20px;
        height: 20px;
        margin-left: auto;
        padding: 4px;
        border: none;
      }

      .popular-addToCart-btn:hover,
      .popular-addToCart-btn:focus {
        background: rgb(109, 132, 52);
        border: none;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 4px;
        display: flex;
        
      }
    
      .popular-cart-svg {
        fill: #6d8434;
      }
      .popular-cart-svg:hover,
      .popular-cart-svg:focus {
        fill: #e8e8e2;
      }
    
      /**
        |============================
        | products-list-discount
        |============================
      */
    
      .products-list-discount {
        
        /* width: calc(100% - 16px); */
        /* flex-direction: column; */
        /* row-gap: 32px; */
        row-gap: 20px;
        display: flex;
        flex-wrap: wrap;
        
      }
    
      .discount-title {
        color: #010101;
        font-family: 'Neue Montreal Medium';
        font-size: 28px;
        /* font-weight: 500; */
        line-height: 1.14;
    
        margin-bottom: 20px;
      }
      .discount-product-card {
        border-radius: 15px;
        padding: 16px 16px 21px 16px;
     }
      .discount-img-wrapper {
        padding: 18px 95px;
      }
      .discount-card-img {
      }
      .discount-card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .discount-card-title {
        color: #010101;
        font-family: 'Neue Montreal Medium';
        font-size: 20px;
        /* font-weight: 500; */
        line-height: 1.11;
      }
    
      .discount-card-price {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
      }
    
      .span-price {
    color: #010101;
    font-family: 'Neue Montreal Medium';
    font-size: 20px;
     font-weight: 500;
    line-height: 1.11;
      }
}
