<section class="filters">
  <div class="container filters-container">
    <h4 class="filters-title">Filters:</h4>
    <form>
      <div class="filters-search">
        <input class="filters-input" type="text" />
        <button type="submit">
          <svg class="search-svg" width="15" height="15">
            <use href="./images/icons.svg#"></use>
          </svg>
        </button>
      </div>
      <input class="filters-categories" type="text" />
      <input class="filters-allTypes" type="text" />
    </form>
  </div>
</section>
