<h4>Filters:</h4>
<form>
    <div class="filters-search">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta quaerat ea natus odit repellat provident voluptatem reprehenderit quidem praesentium architecto aut quo voluptates sapiente hic et aliquid, iure nemo quisquam.
        <input class="filters-input" type="text">
    <button type="submit">
        <svg class="search-svg" width="15" height="15">
            <use href="./images/icons.svg#"></use>
        </svg>
    </button>
    </div>
    <input type="list" id="myinput" list="mylist">
</form>