<section class="filters">
  <div class="container filters-container">
    <h4 class="filters-title">Filters:</h4>
    <form>
      <div class="filters-search-wrap">
        <input class="filters-input" type="text" />
        <button type="submit">
          <svg class="search-svg" width="15" height="15">
            <use href="./images/icons.svg#"></use>
          </svg>
        </button>
      </div>

      <div class="filters-categories-wrap">
        <input class="filters-categories" type="text" value="Categories"/>
        <ul class="filters-categories-list">
          <li class="filters-categories-item">Beverages</li>
          <li class="filters-categories-item">Breads / Bakery</li>
          <li class="filters-categories-item">Dairy</li>
          <li class="filters-categories-item">Deli</li>
          <li class="filters-categories-item">Eggs</li>
          <li class="filters-categories-item">Fresh Produce</li>
          <li class="filters-categories-item">Meat & Seafood</li>
          <li class="filters-categories-item">Pantry Items</li>
          <li class="filters-categories-item">Prepared Foods</li>
          <li class="filters-categories-item">Snacks</li>
          <li class="filters-categories-item">Show all</li>
        </ul>
      </div>

      <div class="filters-allTypes-wrap">
        <input class="filters-allTypes" type="text" value="A to Z"/>
        <ul class="filters-allTypes-list">
          <li class="filters-allTypes-item">A to Z</li>
          <li class="filters-allTypes-item">Z to A</li>
          <li class="filters-allTypes-item">Less than 10$</li>
          <li class="filters-allTypes-item">Greater than 10$</li>
          <li class="filters-allTypes-item">Popular</li>
          <li class="filters-allTypes-item">Not popular</li>
          <li class="filters-allTypes-item">Show all</li>
        </ul>
      </div>
      
    </form>
  </div>
</section>
