<header class="header-page">
  <div class="container header-page-container">
    <nav class="header-page-navigation">
      <ul>
        <li>
          <a class="header-logotype" href="./index.html">
            <svg
              class="header-logotype-icon"
              width="32"
              height="32"
              aria-label="Food Boutique logotype icon"
            >
              <use href="./images/icons.svg#icon-cabbage"></use></svg
            >Food Boutique
          </a>
        </li>
        <li><p>Home</p></li>
        <li>
          <a class="header-shopping-card-link" href="./cart.html"
            ><svg
              class="header-logotype-icon"
              width="38"
              height="38"
              aria-label="header-shopping-card"
            >
              <use href="./images/icons.svg#icon-shopping-cart"></use></svg
          ></a>
        </li>
      </ul>
      <!-- <a class="header-logotype" href="./index.html">
        
        <svg
          class="header-logotype-icon"
          width="32"
          height="32"
          aria-label="Food Boutique logotype icon"
        >
          <use href="./images/icons.svg#icon-cabbage"></use>
        </svg>Food Boutique
      </a>

      <ul class="header-page-menu">
        <li class="header-menu-item">
          <a class="header-home" href="./index.html"> <button class="header-page-btn" type="button" width="104" height="48">Home</a>
        </li>

        <li class="menu-item">
            <ul>
                <li>
                    <a class="header-shopping-card-link" href="cart.html"><svg
                    class="header-logotype-icon"
                    width="38"
                    height="38"
                    aria-label="header-shopping-card"
                    >
                    <use href="./images/icons.svg#icon-shopping-cart"></use>
                    </svg></a>
                </li>
                <li>
                    <p>CART (3)</p>
                </li>
            </ul>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
